<div class="home-container">
  <!-- Added the container and template to use another component in this page which don't have parent child relation -->
  <ng-container *ngIf="usersList; else createOrEditUser">
    <!-- We can use only the code which is in container to execute the same view -->
    <div class="header">
      <div class="title">
        <!-- Custom Directive "appCustomDirective" -->
        <label appCustomDirective>Users List</label>
      </div>
      <div class="create">
        <button type="button" class="new-user" (click)="createCustomer()">New User</button>
      </div>
    </div>
    <div class="table">
      <div class="table-body">
        <thead class="table-head">
        <tr>
          <th *ngFor="let head of header">
            <span class="head">{{head.name}}</span>
          </th>
        </tr>
        </thead>
        <tbody class="table-content">
        <tr *ngFor="let data of customerDetails">
          <td>{{data.name}}</td>
          <td>{{data.age}}</td>
          <td>{{data.phoneNumber}}</td>
          <td>
            <button type="button" class="edit-btn" (click)="editCustomer(data)">Edit</button>
            <button type="button" class="delete-btn" (click)="deleteCustomer(data)">Delete</button>
          </td>
        </tr>
        </tbody>
      </div>
    </div>
  </ng-container>
  <ng-template #createOrEditUser>
    <!-- A component with no relation -->
    <app-add-or-edit [inItData]="customer" [edit]="edit" (output)="getUsersList()"></app-add-or-edit>
  </ng-template>
</div>
