.home-container {
  padding: 20px 20px;
  font-family: OCR A Std, monospace;
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.table {
  display: grid;
  padding: 20px;
  align-content: center;
}

label{
  font-family: "system-ui";
  font-size: xx-large;
}
