.navbar-container {
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-family: OCR A Std, monospace;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-image: url(../../../assets/images/5137894.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // background: transparent;
}
