.sidebar-container {
  width: 100%;
}

nav {
  background: rgb(159 159 159);
  padding: 10px 20px;
  height: 100vh;
}

span {
  width: 100vw !important;
  font-family: OCR A Std, monospace;
  color: white !important;
}

li {
  display: grid;
  padding: 10px 0px;
}

li :hover {
  background-color: rgba(7, 7, 7, 20%);
  padding: 13px 0px;
}

li :active {
  padding: 15px 0px;
  
}

.active {
  background-color: rgba(7, 7, 7, 0.445);
  padding: 15px 0px;
}