nav {
  background: rgba(2 24 13 / 45%);
  padding: 10px 20px;
  height: 100vh;
}

span {
  width: 100vw !important;
  font-family:'Bahnschrift' !important;
  color: white !important;
}

li {
  display: grid;
  padding: 10px 0px;
}

li :hover {
  background-color: rgba(7, 7, 7, 20%);
  padding: 13px 0px;
}

li :active {
  padding: 15px 0px;
  
}

.active {
  background-color: rgba(7, 7, 7, 0.445);
  padding: 15px 0px;
}